<!DOCTYPE html>
<html>

<head>
    <title>Survey System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <nav>
    
        {% if 'user_id' in session %}
    
        <a href="/dashboard">Inicio</a>
        &nbsp;
        <a href="/logout">Cerrar sesión</a>
    
        {% else %}
    
        <a href="/login">Login</a>
        &nbsp;
        <a href="/register">Registro</a>
    
        {% endif %}
    
    </nav>

    <hr>

    {% block content %}{% endblock %}

</body>

</html>