{% extends 'base.html' %}

{% block content %}

{% if request.args.get('message') == 'answered' %}
<p class="message">
    Encuesta respondida correctamente
</p>
{% endif %}

<h2>Encuestas</h2>

{% for survey in surveys %}

<div class="card">

    <h3>{{ survey.title }}</h3>

    <a href="/survey/{{ survey.id }}">
        Responder encuesta
    </a>

    <br><br>

    {% if session.role == 'admin' %}

    <a href="/results/{{ survey.id }}">
        Ver resultados
    </a>

    <br><br>

    <a href="/delete_survey/{{ survey.id }}">
        Eliminar encuesta
    </a>

    {% endif %}

</div>

{% endfor %}

{% endblock %}