{% extends 'base.html' %}

{% block content %}

{% if request.args.get('message') == 'answered' %}
<p>Encuesta respondida correctamente</p>
{% endif %}

<h2>Encuestas</h2>

{% for survey in surveys %}

<h3>{{ survey.title }}</h3>

<a href="/survey/{{ survey.id }}">
    Responder encuesta
</a>

<br><br>

{% if session.role == 'admin' %}

<a href="/results/{{ survey.id }}">
    Ver resultados
</a>

{% if session.role == 'admin' %}

<br><br>

<a href="/delete_survey/{{ survey.id }}">
    Eliminar encuesta
</a>

{% endif %}

{% endif %}

{% endfor %}

{% endblock %}